*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-gray1: rgba(51, 51, 51, 1);
  --color-gray2: rgba(79, 79, 79, 1);
  --color-gray3: rgba(189, 189, 189, 1);
}

body {
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
  padding: 20px 24px 24px;
}

.error {
  margin-top: 0;
  margin-bottom: 64px;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}

.error,
.content__title {
  font-weight: 700;
}

.test {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.content {
  margin-bottom: 114px;
}

.content__image {
  margin-bottom: 12px;
}

.content__image img {
  max-width: 100%;
}

.content__title {
  margin-bottom: 30px;
  font-size: 48px;
  color: var(--color-gray1);
  letter-spacing: -4px;
  line-height: 71px;
}

.content__subtitle {
  margin-bottom: 66px;
  font-size: 18px;
  color: var(--color-gray2);
  line-height: 26px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 68px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: white;
  background-color: var(--color-gray1);
}

.developer {
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat', monospace;
  font-weight: 500;
  text-align: center;
  line-height: 17px;
  color: var(--color-gray3);
}

.developer__link {
  font-weight: 700;
  color: inherit;
}
